@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"] {
  -webkit-appearance: none; /*hides the default checkbox*/
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #FACC15;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: #FACC15;
}

input[type="checkbox"]:before {
  content: "";
}
input[type="checkbox"]:checked:before {
  content: url('../public/checkmark.svg');
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.react-multiple-carousel__arrow {
  margin-top: -50px;
}

.react-multiple-carousel__arrow--right {
  margin-right: -10px;
}

.react-multiple-carousel__arrow--left {
  margin-left: -10px;
}
